<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.joyi.xungeng"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="17"/>
    <application
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" android:icon="@drawable/xun_geng2">
        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MenuActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.XunchaDaKaActivity" android:launchMode="singleTop" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.XunGengDaKaActivity" android:launchMode="singleTop" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.JiaoJieBanActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.XinXiShangChuanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.XiuGaiMiMaActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.XunGengLuXianActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ChaXunDaKaActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.TiGangActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.WoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.GuanYuActivity" android:screenOrientation="portrait"/>
    </application>

    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

</manifest>
